/* 布局复用部分  */
i {
	font-style: normal;
}
.u-clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.u-clearfix {
	zoom: 1;
}

.u-fl {
	float: left;
}

.u-fr {
	float: right;
}

.u-pos-re {
	position: relative;
}

.u-txt-center {
	text-align: center;
}

.u-txt-left {
	text-align: left;
}

.u-txt-right {
	text-align: right;
}
.u-t-primary {
	color: #3EA4FB;
}
.ui-btn-primary {
	box-sizing: border-box;
	padding-left: 36px;
	padding-right: 36px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #fff;
	border: none;
	border-radius: 4px;
	outline: none;
	background: #3EA4FB;
	cursor: pointer;
	margin-right: 10px;
}
.ui-input-muted {
	box-sizing: border-box;
	width: 240px;
	height: 40px;
	margin-right: 10px;
	padding-left: 14px;
	padding-right: 32px;
	border: 1px solid #EBEBEB;
	border-radius: 4px;
	color: #999;
}
.u-bg-warning {
	background: #FDAD00;
}
::-webkit-input-placeholder {
	color: #999;
}
.u-dis-inb {
	display: inline-block;
}
