body, dl, dd, h1, h2, h3, h4, h5, h6, p, form{margin:0;}   ol,ul{margin:0; padding:0;}
body{
	font-family: Arial,Helvetica,sans-serif,"microsoft yahei";
	font-size:12px;
}
img{
	border:none;
	vertical-align: bottom;
}
a{
	text-decoration: none;
}
ul,li,ol{
	list-style: none;
}
input,textarea,select,button {
	outline: none;
}
textarea{
	resize:none;
}
label,
input[type="button"],
input[type="checkbox"],
button {
	cursor: pointer;
}
