.help-head {
    height:90px;
    color: #fff;
    background: #1F7CD0;
    padding-left: 375px;
    font-size: 20px;
    line-height: 90px;
    text-align: center;
    vertical-align: middle;
}
.help-head img {
    width: 120px;
    margin-top: 31px;
}
.help-head h1 {
    font-size: 30px;
    margin-left: 20px;
}
.re_sitemap {
    width: 1200px;
    margin-top: 39px;
    margin-bottom: 40px;
    padding-top: 0;
    border-top: none;
    background: #fff;
    border: 1px solid #e1e1e1;
}
.re_smcont {
    background: #F5F5F5;
    overflow: hidden;
}
.re_sitecont {
    float: right;
    width: 978px;
    padding: 0;
    border-left: 1px solid #e1e1e1;
    min-height: 670px;
    height: auto!important;
    background: #fbfbfb;
}
.re_leftmune {
    width: 220px;
}
.re_leftmune li {
    width:220px;
}
.re_leftmune li.active .tit {
    height: 60px;
    line-height: 60px;
    background: #f5f5f5;
    color: #82939E;
    border-bottom: 1px solid #E6E6E6;
}
.re_leftmune li .tit{
    background: #BFCAD1;
}
.re_leftmune li .fenh_cont a.active, .re_leftmune li .fenh_cont a:hover {
    border-left: 4px solid #5c9bd1;
    background: transparent;
    color: #7D7D7D;
}
.re_sitewz {
    line-height: 70px;
    padding-bottom: 0;
    border-bottom: 2px solid #5C9BD1;
    background: #F5F5F5;
    padding-left: 15px;
}
.re_leftmune li .tit:hover {
    background: #E1E1E1;
    color: #5C9BD1;
}
.re_fenh_tit {
    border-left: 5px solid #5C9BD1;
    color: #5C9BD1;
}
.re_sitekjdh li {
    background: #E8F0F2;
    margin-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 55px;
}
.re_sitekjdh li a {
    color: #999;
}
.re_sitekjdh li a>span {
    color: #666;
}
.re_sitekjdh a:hover {
    color: #5C9BD1;
    text-decoration: none;
}
.re_sitekjdh {
    background: transparent;
    font-size: 18px;
    padding: 0 40px;
}
.re_sitepage {
    padding-top: 60px;
}
.re_sitewz span {
    color: #5C9BD1;
    font-size:16px;
    font-weight: 700;
}
.re_yellow_tit span, .re_green_tit span, .re_fenh_tit span {
    color: #5C9BD1;
}
body {
    background: #fafafa;
}
.re_leftmune li .cont {
    background: #EBEBEC;
}
.re_leftmune li .tit {
    text-align: left;
    padding-left: 35px;
    padding-right: 30px;
}
.re_leftmune li .cont a {
    border-left: 4px solid transparent;
    text-align: center;
}
.line {
    height: 30px;
    border:1px solid #e1e1e1;
    margin-left: 15px;
    margin-top: 30px;
}

.icon-more {
    float: right;
    font-size: 22px;
    font-weight: 400;
}
.download {
    font-weight: 700;
    font-size: 15px;
}